<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <h1>Bienvenue, {{ session.get('username', 'Utilisateur') }} !</h1>
        <p>Voici la page d'accueil de notre application.</p>
        <a href="{{ url_for('logout') }}">Se deconnecter</a>
        <form method="get">
            <label>Année :</label>
            <select name="year">
                <option value="">-- Choisir une année --</option>
                {% for a in annees %}
                    <option value="{{ a }}" {% if a|string == year %}selected{% endif %}>{{ a }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filtrer</button>
        </form>
        {% if consommation %}
        <h2>Consommation totale pour {{ year }}</h2>
        <ul>
            {% for filiere, conso in consommation.items() %}
                <li><strong>{{ filiere }} :</strong> {{ conso }} MWh</li>
            {% endfor %}
        </ul>
        {% elif year %}
                <p>Aucune donnée trouvée pour l'année {{ year }}.</p>
        {% endif %}
    </div>
</body>
</html>
