{% extends "base.html" %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <h1>Carte de Consommation par Département</h1>
    
    <div id="carte"></div>
    
    <script>
        // Initialisation de la carte Leaflet
        var map = L.map('carte').setView([46.5, 2.5], 6);  // Centre de la France (latitude, longitude) et zoom

        // Ajout du fond de carte
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Chargement du fichier GeoJSON pour les départements
        fetch("{{ url_for('static', filename='france-departments.geojson') }}")
            .then(response => response.json())
            .then(data => {
                L.geoJSON(data, {
                    onEachFeature: function (feature, layer) {
                        // Ajouter des popups pour chaque département
                        var depCode = feature.properties.name;  // Utilisez le code du département dans le GeoJSON
                        var Conso = getConso(depCode); 

                        layer.bindPopup("<b>Département:</b> " + feature.properties.name + "<br><b>Consommation :</b> " + Conso + " MWh");
                    },
                    style: function (feature) {
                        var depCode = feature.properties.code;
                        var Conso = getConso(depCode);
                        var color = getColorBasedOnConsumption(Conso);  
                        
                        return {
                            fillColor: color,
                            weight: 1,
                            opacity: 1,
                            color: 'black',
                            dashArray: '3',
                            fillOpacity: 0.7
                        };
                    }
                }).addTo(map);
            });

        // Fonction pour récupérer la consommation pour un département
        var consoParDepartement = {{ conso_data | tojson }};
        function getConso(depCode) {
            return consoParDepartement[depCode] || 0;
        }

        // Fonction pour déterminer la couleur en fonction de la consommation 
        function getColorBasedOnConsumption(Conso) {
            if (Conso < 26280398) {
                return "#fee5d9";  // Faible consommation
            } else if (Conso < 6731688) {
                return "#fcae91";  // Moyenne consommation
            } else {
                return "#fb6a4a";  // Haute consommation
            }
        }
    </script>
{% endblock %}
