/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header.navbar {
    height: 60px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-left a,
.nav-right .btn-logout {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-left a.active {
    text-decoration: underline;
    color: #ffe082;
}

.nav-left a:hover,
.nav-right .btn-logout:hover {
    color: #ffc107;
}

.layout {
    display: flex;
    margin-top: 60px; /* hauteur de navbar */
    height: calc(100vh - 60px);
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

/* Contenu principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

/* Leaflet map fix */
#carte {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

/* Graphs */
canvas {
    max-width: 100%;
    height: auto;
}
