{% extends "base.html" %}

{% block title %}Données{% endblock %}
{% if donnees %}
  <table class="table-kpi">
    <thead>
      <tr>
        {% for col in donnees[0].keys() %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in donnees %}
        <tr>
          {% for value in row.values() %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Aucune donnée disponible pour cette sélection.</p>
{% endif %}
{% block content %}

{% endblock %}

